<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MeetBot - Advanced Bot Planner</title>

  <!--Icon Font-->
  <link rel="stylesheet" media="screen" href="/fonts/font-awesome/font-awesome.min.css" />

  <!-- jQuery Load -->
  <script src="/js/jquery-min.js"></script>
    <link href="https://www.fontify.me/wf/ec629c339dbad8b7bfe819b90030a31c" rel="stylesheet" type="text/css">
    <style>
    .title-big, .logo-menu{
    font-family: font6441;
    }
    </style>
    
  <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

</head>

<body class="bg-first">
    <style>
        .bg-first {
            background: #ecf0f1;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
        }
        
    </style>

<!-- feature-list Section -->
  <section id="main-features">
    <div id="feature-list-item-1">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h1 class="title-small wow fadeInLeft" data-wow-offset="10">...before we start</h1>
            <h2 class="subtitle-small wow fadeInUp" data-wow-delay=".8s" data-wow-offset="10">To proceed using MeetBot features, we need to connect with your Google Calendar. <br><br><br>
                
                Please authorize to continue:<br>
                <a class="btn btn-default btn-lg" href="/redirect"><i class="fa fa-check" aria-hidden="true"></i> Authorize</a> 
                <a class="btn btn-default red btn-lg" href="/"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</a> 
              </h2>
          </div>
          <div class="col-md-6 wow fadeInRight" data-wow-delay=".5s" data-wow-offset="10">
            <img class="pull-right" width="550" src="/img/calendar.png">
          </div>
        </div> 
      </div>
    </div>
      
  </section>

  <!-- feature-list Section End -->

  <!-- Bootstrap JS -->
  <script src="/js/bootstrap.js"></script>
  <!-- WOW JS plugin for animation -->
  <script src="/js/wow.js"></script>
  <!-- All JS plugin Triggers -->
  <script src="/js/main.js"></script>
</body>
</html>
